// Place all the styles related to the Main controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

.top-pad{
  padding-top: 10px;
}

.set-middle{
  vertical-align: middle;
}

.bx-wrapper {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}